#carouselMonChinh .carousel-item.monKho {
    background-image: url(/img/Món\ Xào.jpg)
}
.searchBar {
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.searchBar .card  {
    box-shadow: 5px 12px 30px 1px rgb(0 0 0 / 15%);
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.sapXepTheoGia a {
    color: #61aa30;
    font-weight: bold;
    letter-spacing: 1px;
}
.GoiY .GoiY__heading p {
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 17px;
    margin-top: 1rem;
    text-align: center;
}
.GoiY .GoiY__heading h2 {
    font-size: 40px;
    color: rgb(68, 129, 62);
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 4rem;
}
.GoiY__content h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #61aa30;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1.5rem 0;
}
.GoiY__content .col-md-6 {
   padding: 2.5rem 3.5rem;
}
.ThanhVien__box:hover {
    transform: translateY(-28px) scale(1.1);
}
/* Chỉnh item món ăn */
.card-monAn {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 15px 18px 1px rgb(0 0 0 / 10%);
    margin-top: 120px;
    padding-top: 90px;
    transition: transform 0.6s;
}
.card-monAn .linkTo__ChiTietSp {
    color: #61aa30;
    text-decoration: none;
}
.card-monAn h5 {
    color: #61aa30;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1.5rem 0;
}
.card-monAn p {
    color: rgb(48, 48, 48);
    font-size: 1rem;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}
.card-monAn .btn--DatHang{
    padding: 10px 20px;
    border: none;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    background: linear-gradient(to right, #7ca342,#276821);
    outline: none;
    font-weight: bold;
    margin: 1rem 0;
    transform: translateZ(60px);
}
.card-monAn span {
    font-weight: bold;
    margin-top: 1rem;
    letter-spacing: 1.5px;
    margin-left: 6px;
}
.DiCho .item:hover .card-monAn {
    transform: translateY(-20px);
}